# CARTO API Configuration
VITE_CARTO_BASEMAPS_API_KEY="cb1_2la0_1_c0b36153d57f6b0220779dfd"
VITE_CARTO_SQL_API_URL="https://gcp-us-east1.api.carto.com/v3/sql/carto_dw"
VITE_CARTO_AUTH_TOKEN="eyJhbGciOiJIUzI1NiJ9.eyJhIjoiYWNfczViNTRrdjgiLCJqdGkiOiJjODU3NmRkNyJ9.tExZoIP49-7MlhOCvRgmLTkg5V75VNqm863UR9fSDPY"
VITE_CARTO_DEFAULT_QUERY="CALL `carto-dw-ac-s5b54kv8.workflows_temp_abcthingx_6f9f3c9e.wfproc_api_4e3edb4b59ed692d`()"

# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"
